<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div><%= f.label :username %><br />
  <%= f.text_field :username, autofocus: true %></div>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>
   <div><%= f.label :phone, "Phone No" %><br />
  <%= f.text_field :phone %></div>
  <div><%= f.label :condo_id, "Condominium Name" %><br />
  <%= f.collection_select  :condo_id, @condo, :id, :name %>
</div>
  <div><%= f.label :postal_code, "Postal Code" %><br />
  <%= f.text_field :postal_code %></div>
 <div><%= f.label :enquiry %><br />
  <%= f.text_area :enquiry %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>


<%= render "devise/shared/links" %>
