<h3><%= t('user.profile.setting') %></h3> 
<hr/>
<h4><%= t('user.profile.organisation') %></h4>
<div class="row">
  <div class="col-sm-3">
    <% if current_user.avatar? %>
        <%= image_tag current_user.avatar.url(:big), :class => 'img-thumbnail' %>
    <% else %>

        <%= image_tag "default-user-picture.gif", :class => 'img-thumbnail' %>

    <% end %>
  </div>
  <div class="col-sm-6">
    <p><b><%= t('user.profile.username') %></b> <%= current_user.username %> </p>

    <p><b><%= t('user.profile.name') %> </b>  <%= current_user.name %> </p>

    <p><b><%= t('user.profile.company') %></b> <%= current_user.company %> </p>

    <p><b><%= t('user.profile.email') %></b> <%= current_user.email %> </p>

    <p><b><%= t('user.profile.country') %></b> <%= current_user.country %> </p>

    <p><b><%= t('user.profile.city') %></b> <%= current_user.city %> </p>

    <p><b><%= t('user.profile.zip') %></b> <%= current_user.postal_code %> </p>

    <p><b><%= t('user.profile.phone') %></b> <%= current_user.phone %> </p>
  </div>
  <div class="col-sm-1">
    <%= link_to edit_user_registration_path, {class: "btn btn-link"} do %>
        <span class="glyphicon glyphicon-pencil"></span> <%= t('user.profile.button_edit') %>
    <% end %>
  </div>
</div>
<hr/>
<%= render partial: "devise/shared/change_password" %>

