<div class="modal-header">
  <h4 class="modal-title"><%= t('admin.manage.manage_user_role') %></h4>
</div>
<%= form_for(@user_role, url: processs_add_role_path, :remote => true, html: {:class => "form-horizontal", :role => "form"}) do |f| %>
    <div class="modal-body">
      <div class= 'list-role'>
      
        <%= render 'content_role' %>
      
      </div>
      <%= f.hidden_field :user_id, {value: @user.id} %>

        <div class="field">
        <%= f.label :role_id , t('admin.manage.role') %>
    <%= f.collection_select  :role_id, @role, :id, :role_name ,{},
      { multiple: true, style: "width: 31em;", class: "js-select2" }%>
         
        </div>   
    
    
    </div>
    <div class="modal-footer">
   <%= f.submit t('admin.manage.add'), class: "btn btn-success" %>
  <%= link_to t('admin.confirm.cancel'), '#', {class: 'btn btn-danger', data: {dismiss: 'modal'}} %>
</div>
<% end %>

  <script type="text/javascript">
      $(".js-select2").select2()
  </script>