<div class="errors"></div>
<h2>Change your password</h2>

<%= form_for(current_user, as: resource_name, url:change_pass_path,remote: true, :html => {:id => "sign_up" , 
                                 :class => "form-horizontal",
                                 :role =>"form"},
           :format => :json,
           :remote => true) do |f| %>

  <%= f.hidden_field :reset_password_token %>

   <div class="form-group">
   <div class="col-sm-2"><%= f.label :current_password , :class => 'control-label' %> </div>
    <div class="col-sm-4">
    <%= f.password_field :current_password , autofocus: true, autocomplete: "off" ,:class => "form-control" %></div>
   </div>
     <div class="form-group">
      <div class="col-sm-2"><%= f.label :password, "New password" , :class => 'control-label' %> </div>
      <div class="col-sm-4">
    <%= f.password_field :password, autocomplete: "off" ,:class => "form-control" %></div>
</div>
   <div class="form-group">
   <div class="col-sm-2"><%= f.label :password_confirmation, "Confirm new password" , :class => 'control-label' %> </div>
    <div class="col-sm-4">
    <%= f.password_field :password_confirmation, autocomplete: "off" ,:class => "form-control" %></div>
 </div>
  <div class="col-sm-offset-2 col-sm-4"><%= f.submit "Save change"  , :class => "btn btn-success" %></div>
<% end %>
