<%= form_for(@bulletin) do |f| %>
  <% if @bulletin.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@bulletin.errors.count, "error") %> prohibited this bulletin from being saved:</h4>

      <ul>
      <% @bulletin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="width:50%">
    <%= f.text_field :title, { class: 'form-control', placeholder: 'Title' } %>
  </div>
  <div class="form-group form-inline">
    <%= f.label :date %>:
    <div id='datetime-picker' class="input-group date" data-date-format="DD/MM/YYYY">
      <%= f.text_field :date, { class: "form-control", placeholder: 'DD/MM/YYYY', value: @bulletin.date.try(:strftime, "%d/%m/%Y") } %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content %>:
    <%= f.text_area :content, class: "form-control", rows: 5 %>
  </div>
  <div class="form-group form-inline">
    <%= f.label :send_notify, class: "control-label" do %>
      <%= f.check_box :send_notify, class: "form-control" %>
      Send notification to resident through EleApps
    <% end %>
    <div class="show-button">
      <%= link_to 'Cancel', bulletins_path, class: 'btn btn-danger' %>
      <%= f.submit class: "btn btn-success", value: @bulletin.persisted? ? 'Save' : 'Add' %>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $(function() {
      $('#datetime-picker').datetimepicker({
        pickTime: false,
      });
  });
</script>
