<%= form_for @bulletin, remote: true do |f| %>
    <ul class="errors"></ul>

    <%= f.hidden_field :condo_id, {value: current_user.condo_id} %>
    <div class="form-group" style="width:50%">
      <%= f.text_field :title, {class: 'form-control', placeholder: t('bulletins.title')} %>
    </div>

    <div class="form-group form-inline">
      <%= f.label :date %>
      <div id='datetime-picker' class="input-group date" data-date-format="DD/MM/YYYY">
        <%= f.text_field :date, {class: "form-control", readonly: true, placeholder: 'DD/MM/YYYY', value: @bulletin.date.try(:strftime, "%d/%m/%Y")} %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: "form-control", rows: 5 %>
    </div>
    <%= f.file_field :image_path , style:"display:none" %>
    <div style="width:50%">
     <div class="input-group choose" style="margin:15px 0px">
            <input type="text" class="form-control">
            <span class="input-group-addon" style="cursor: pointer">Browse</span>
    </div>
    </div>


    <div class="form-group form-inline">
      <%= f.check_box :send_notify, {class: "form-control"} %>
      <%= f.label :send_notify, class: "control-label" %>

      <div class="show-button">
        <%= link_to t('bulletins.cancel'), bulletins_path, class: 'btn btn-danger' %>
        <%= f.submit class: "btn btn-success", value: @bulletin.persisted? ? t('bulletins.save') : t('bulletins.add') %>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#datetime-picker').datetimepicker({
            pickTime: false
        });
        $("#bulletin_image_path").change(function(){
          $("div.choose input").val($(this).val());
        });
         $(document).on('click', 'div.choose', function(e) {
           e.preventDefault();
           $('#bulletin_image_path').trigger('click');
         });
    });

</script>

<% if !@bulletin.persisted? %>
    <script type="text/javascript">
        $(function () {
            date = new Date();
            $('#datetime-picker').data('DateTimePicker').setDate(dateToString(date));
        });
        function dateToString(date) {
            return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
        }

    </script>
<% end %>

