<% @bulletins.each do |bulletin| %>
    <div class="row bulletin-<%= bulletin.id %>">
    
      <div class="col-xs-10">
      <div class="col-xs-2">
       <%= image_tag bulletin.image_path.url(:thumb), { :class => 'img-thumbnail', size: '150x150' } %>
      </div >
      <div class="col-xs-10">
        <h4><b><%= bulletin.title %></b></h4>

        <%= label :bulletin, :date %> <span><%= bulletin.date.strftime("%d/%m/%Y") %></span>
        <br>

        <%= label :bulletin, :content %>
        <%= simple_format(bulletin.content.truncate(400, separator: ' ', omission: t('bulletins.please_click_view_more')), {class: 'keep-format'}) %>
        <%= link_to t('bulletins.view_more'), bulletin, {class: 'btn btn-default show-button', remote: true} %>
      </div>
      </div>
      <div class="col-xs-2 bulletin-center">
        <div class="vcenter">
          <%= link_to confirm_bulletin_path(bulletin), {class: 'btn btn-link', remote: true} do %>
              <span class="glyphicon glyphicon-trash"></span> <%= t('bulletins.delete_bulletin') %>
          <% end %>
          <%= link_to edit_bulletin_path(bulletin), {class: 'btn btn-link', remote: true} do %>
              <span class="glyphicon glyphicon-pencil"></span> <%= t('bulletins.edit_bulletin') %>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
<% end %>

