<div class="bulletin-header">
  View:
  <%= link_to new_bulletin_path, :class => 'btn btn-link' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Add New Bulletin
  <% end %>
  <hr>
</div>
<div id="new-bulletin">
</div>
<div>
  <% @bulletins.each do |bulletin| %>
    <div class="row">
      <div class="col-xs-10">
        <p><b><h4><%= bulletin.title %></h4></b></p>
        <p><b>Date: </b><%= bulletin.date %></p>
        <p><b>Content:</b></p>
        <p><%= bulletin.content %></p>
        <%= link_to 'View More', bulletin, {class: 'btn btn-default show-button'} %>
      </div>
      <div class="col-xs-2 bulletin-center">
        <%= link_to 'Delete Bulletin', bulletin, {method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link'} %>
        <%= link_to 'Edit Bulletin', edit_bulletin_path(bulletin), {class: 'btn btn-link'} %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
