<%= form_for @house_rule, remote: true do |f| %>
    <ul class="errors"></ul>

    <div class="form-group" style="width:50%">
      <%= f.text_field :title, {class: 'form-control', placeholder: t('.title') } %>
    </div>
      <% unless @house_rule.persisted? %>
     <div class="form-group" style="width:30%">
      <select class="form-control" name="house_rule[houserule_category_id]">
        <% @cat.each do |c| %>
       <option value="<%= c.id %>"> <%=c.name %> </option> 
        <% end %> 
      <option value="new">New Category</option> 
      </select>
            <% end %> 
    </div>

    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: "form-control", rows: 5 %>
    </div>

    <div class="text-right">
      <%= link_to t('.cancel'), house_rules_path, class: 'btn btn-danger' %>
      <%= f.submit class: "btn btn-success", value: @house_rule.persisted? ? t('.update') : t('.create') %>
    </div>
    </div>
<% end %>

