<% @house_rules.each do |house_rule| %>
    <div class="my-row house-rule-<%= house_rule.id %>">
      <div class="my-col-8">
        <h4><b><%= house_rule.title %></b></h4>

        <%= label :house_rule, :content %>
        <%= simple_format(house_rule.content.truncate(450, separator: '\n', omission: t('.please_click_view_more')), {class: 'keep-format'}) %>
        <%= link_to t('.show'), house_rule, {class: 'btn btn-default show-button', remote: true} %>
      </div>
      <div class="my-col-2">
        <div class="middle">
          <%= link_to confirm_house_rule_path(house_rule), {class: 'btn btn-link', remote: true} do %>
              <span class="glyphicon glyphicon-trash"></span> <%= t('.delete') %>
          <% end %>
          <%= link_to edit_house_rule_path(house_rule), {class: 'btn btn-link', remote: true} do %>
              <span class="glyphicon glyphicon-pencil"></span> <%= t('.edit') %>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
<% end %>

