<%= form_for(@privilege, remote:true) do |f| %>
    <% if @privilege.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@privilege.errors.count, "error") %> prohibited this privilege from being saved:</h2>
          <ul>
            <% @privilege.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset>
  <!--<legend><a href="#">New privileges</a></legend>-->
  <a><%= f.submit class:'legend' %></a>
  <div class="form-group form-inline col-md-12 text-right form-privileges">
    <div class="col-md-4">
      <%= f.label t('privileges.name'), class: 'margin-left-20' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= f.label t('privileges.price'), class: 'margin-left-20' %>
      <%= f.text_field :price, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= f.label t('privileges.location') %>
      <%= f.text_field :location, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group form-inline col-md-12 text-right">
    <div class="col-md-4">
      <%= f.label t('privileges.distance') %>
      <%= f.text_field :distance, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= f.label t('privileges.date_expiry'), class: 'margin-left-20' %>
      <div class="input-group date" id='datetime-picker' data-date-format="DD/MM/YYYY">
        <%= f.text_field :date_expiry, {id: 'textFieldDate-pri', class: "form-control", placeholder: 'DD/MM/YYYY', value: Time.now.try(:strftime, "%d/%m/%Y"), readOnly: true} %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>
    <div class="col-md-4">
      <%= f.label t('privileges.phone'), class: 'margin-left-20' %>
      <%= f.text_field :phone, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group form-inline col-md-12 text-right">
    <div class="col-md-6">
      <%= f.label t('privileges.date_time_detail'), class: 'margin-left-20' %>
      <%= f.text_field :date_time_detail, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= f.label t('privileges.image_path'), class: 'pull-left margin-top-5' %>
      <%= f.file_field :image_path, class: 'margin-left-90'%>
    </div>
  </div>
  <div class="col-md-12">
    <%= f.label t('privileges.description') %>
    <br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="field">
    <%= hidden_field_tag 'privilege[user_id]', current_user.id %>
  </div>
</fieldset>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#datetime-picker').datetimepicker({
            pickTime: false,
            dateFormat: 'dd/mm/yyyy',
            minDate: Date()
        });
    });
</script>