<div class="text-right">
  <%= link_to edit_guard_house_path, {class: 'btn btn-link', remote: true} do %>
      <span class="glyphicon glyphicon-plus"></span> Edit Guard House
  <% end %>
</div>
<hr>

<div id="content-guard-house">
  <%= render 'index' %>
</div>
<div id="guard-house-image-content">
  <div class="">
    <b class="floatLeft">Guards on duty</b>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <% if  @guard_house_images.size > 0 %>
          <div class="form-group">
            <div class="col-sm-12 paddingTop20px">
              <div class="div-frame-guard-house-index margin-auto">
                <% @guard_house_images.each do |guard_house_image| %>
                    <div class="floatLeft padding-left-30 paddingTop20px in_place_class width-180">
                      <%= image_tag guard_house_image.image_path.url(:thumbnail), :class => "img-thumbnail" %>
                      <br><br>
                      <%= label_tag guard_house_image.name.nil? ? 'No content!' : guard_house_image.name %>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>


  <%= form_for @guard_house, url: update_photo_guard_houses_path, :html => {:multipart => true, :class => "form-horizontal", method: 'post', remote: true} do |f| %>
      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div>
                <%= label_tag 'guard_house_image', 'Upload photos:' %>
                <br>
                <div>
                  <%= f.file_field :guard_house_image, :multiple => true %>
                  <input type="hidden" name="guard_house_id" value="<%= @guard_house.id %>">
                  <br>
                  <button id="addMorePhoto" type="button" class="btn btn-default">Add more photo</button>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <%= f.submit "Submit", :class => "btn btn-success" %></div>
          </div>
        </div>
      </div>

  <% end %>

