<div class="bulletin-header">
  <%= t('bookings.view') %>
  <select class="form-control" onchange="filterByCategory(this.value)">
    <option value="/bookings">
      <%= t('bookings.all') %>
    </option>
    <% @categories.each do |category| %>
        <option <%= 'selected' if @category_id.to_i == category.id %>  value="/bookings?category=<%= category.id %>"><%= category.name%></option>
    <% end %>
  </select>
  <%= link_to nil, :class => 'btn btn-link', onclick: 'checkEmptyBooking()', remote: true do %>
      <span class="glyphicon glyphicon-trash"></span>
      <%= t('bookings.delete_booking') %>
  <% end %>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
    <table class="datatable" id="booking_table">
      <thead>
      <th><input type="checkbox" style="margin: 0px 20%;" onclick="checkAll(this)" /></th>
      <!--<th><%#= t('bookings.table.booking_id') %></th>-->
      <th><%= t('bookings.table.facility') %></th>
      <th><%= t('bookings.table.date_submit') %></th>
      <th><%= t('bookings.table.date_expiry') %></th>
      <th><%= t('bookings.table.date_booking') %></th>
      <th><%= t('bookings.table.time_slot') %></th>
      <th><%= t('bookings.table.user') %></th>
      <th><%= t('bookings.table.booking_price') %></th>
      <th><%= t('bookings.table.booking_deposit') %></th>
      <th><%= t('bookings.table.booking_status') %></th>
      </thead>
      <tbody>
      <% @bookings.each do |book| %>
          <tr>
            <td>
              <input id="<%= book.id %>" class="selectBook" type="checkbox" value="<%= book.id %>" name="colection[]" style="margin: 0px 20%;"/>
            </td>
            <!--<td><%#= book.id %></td>-->
            <td><%= string_to_hash(book.data).facility_name unless string_to_hash(book.data).blank? %><%#= book.time_slot.facility.name %></td>
            <td><%= book.date_submit.strftime '%d/%m/%Y' if !book.date_submit.blank? %></td>
            <td><%= book.date_expiry.strftime '%d/%m/%Y' if !book.date_expiry.blank? %></td>
            <td><%= book.date_book.strftime '%d/%m/%Y' if !book.date_book.blank? %></td>
            <td><%= string_to_hash(book.data).time_slot unless string_to_hash(book.data).blank? %></td>
            <td><%= string_to_hash(book.data).user_name unless string_to_hash(book.data).blank? %></td>
            <td><%= number_format(string_to_hash(book.data).booking_price) unless string_to_hash(book.data).blank? %><%#= number_format(book.time_slot.facility.booking_price) if !book.time_slot.facility.booking_price.blank? %></td>
            <td><%= number_format(string_to_hash(book.data).deposit_price) unless string_to_hash(book.data).blank? %><%#= number_format(book.time_slot.facility.deposit_price) if !book.time_slot.facility.deposit_price.blank? %></td>
            <td>
              <input id="booking_<%= book.id %>" data-id='<%= book.id %>' type="checkbox" <%= 'checked' if book.status.upcase == 'BOOKED' %> style="margin: 0px 38%;" onchange="updateBookStatus(this)"/>
              <!--<select class="form-control" id="bookStatus<%= book.id %>" data-id="<%= book.id %>" onchange="updateBookStatus(this.id)">-->
                <!--&lt;!&ndash;<option <%#= 'selected' if book.status.upcase == 'WAITING' %> value="Booked"><%= t('bookings.table.waiting_status') %></option>&ndash;&gt;-->
                <!--<option <%#= 'selected' if book.status.upcase == 'BOOKED' %> value="Booked"><%= t('bookings.table.booked_status')%></option>-->
                <!--<option <%#= 'selected' if book.status.upcase == 'RESERVED' %> value="Reserved"><%= t('bookings.table.reserved_status')%></option>-->
                <!--&lt;!&ndash;<option <%#= 'selected' if book.status.upcase == 'CLOSED' %> value="Closed"><%= t('bookings.table.closed_status')%></option>&ndash;&gt;-->
              <!--</select>-->
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div id="booking-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="booking-content" class="modal-content">
    </div>
  </div>
</div>

<script>
//  $(window).load(function(){
//      $.each($('#booking_table').find('tbody > tr'), function(){
//          number = formatCurrencies().formatCurrency( $(this).find('td:eq(7)').text() )
//          $(this).find('td:eq(7)').html(number)
//      });
//  });
function checkAll(thiss){
    var $this = $(thiss);
    if($this.get(0).checked){
        $.each($('.selectBook'), function(){
            $(this).prop('checked', true);
            selecBookChange($(this));
        });
    }else{
        $.each($('.selectBook'), function(){
            $(this).prop('checked', false);
            selecBookChange($(this));
        });
    }
}
    function filterByCategory(link){
        window.location = link;
    }
</script>
