<div class="bulletin-header">
  <%= t('bookings.view') %>
  <select class="form-control" onchange="filterBookCategory(this.value)">
    <option value="all" id="all" onclick="tempSelectCategory(this.id)" <%= 'selected' if session[:category_id_temp]=='all' %>>
      <%= t('bookings.all') %>
    </option>
    <% @categories.each do |category| %>
        <option <%= 'selected' if session[:category_id_temp]==category.id %> id="<%= category.id %>" onclick="tempSelectCategory(this.id)" value="<%= category.id %>"><%= link_to category.name, filter_path(category) %></option>
    <% end %>
  </select>
  <%= link_to nil, :class => 'btn btn-link', onclick: 'checkEmptyBooking()', remote: true do %>
      <span class="glyphicon glyphicon-trash"></span>
      <%= t('bookings.delete_booking') %>
  <% end %>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
    <table class="datatable">
      <thead>
      <th><a class="glyphicon glyphicon-ok font-color-green fontSize20"></a></th>
      <th><%= t('bookings.table.booking_id') %></th>
      <th><%= t('bookings.table.facility') %></th>
      <th><%= t('bookings.table.date_submit') %></th>
      <th><%= t('bookings.table.date_expiry') %></th>
      <th><%= t('bookings.table.date_booking') %></th>
      <th><%= t('bookings.table.time_slot') %></th>
      <th><%= t('bookings.table.user') %></th>
      <th><%= t('bookings.table.booking_price') %></th>
      <th><%= t('bookings.table.booking_deposit') %></th>
      <th><%= t('bookings.table.booking_status') %></th>
      </thead>
      <tbody>
      <% @bookings.each do |book| %>
          <tr>
            <td>
              <input id="<%= book.id %>" class="selectBook" type="checkbox" value="<%= book.id %>" name="colection[]"/>
            </td>
            <td><%= book.id %></td>
            <td><%= book.time_slot.facility.name %></td>
            <td><%= book.date_submit.strftime '%d/%m/%Y' if !book.date_submit.blank? %></td>
            <td><%= book.date_expiry.strftime '%d/%m/%Y' if !book.date_expiry.blank? %></td>
            <td><%= book.date_book.strftime '%d/%m/%Y' if !book.date_book.blank? %></td>
            <td><%= book.time_slot.slot_start.strftime "%H:%M" if !book.time_slot.slot_start.blank? %>
              -<%= book.time_slot.slot_end.strftime "%H:%M" if !book.time_slot.slot_end.blank? %></td>
            <td><%= book.user.name %></td>
            <td><%= book.time_slot.facility.currency(book.time_slot.facility.booking_price) if !book.time_slot.facility.booking_price.blank? %></td>
            <td><%= book.time_slot.facility.currency(book.time_slot.facility.deposit_price) if !book.time_slot.facility.deposit_price.blank? %></td>
            <td>
              <select class="form-control" id="bookStatus<%= book.id %>" data-id="<%= book.id %>" onchange="updateBookStatus(this.id)">
                <option <%= 'selected' if book.status.upcase == 'WAITING' %> value="Booked"><%= t('bookings.table.waiting_status') %></option>
                <option <%= 'selected' if book.status.upcase == 'BOOKED' %> value="Booked"><%= t('bookings.table.booked_status')%></option>
                <option <%= 'selected' if book.status.upcase == 'RESERVED' %> value="Reserved"><%= t('bookings.table.reserved_status')%></option>
                <option <%= 'selected' if book.status.upcase == 'CLOSED' %> value="Closed"><%= t('bookings.table.closed_status')%></option>
              </select>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div id="booking-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="booking-content" class="modal-content">
    </div>
  </div>
</div>
