<%= form_for @facility, remote: true do |f| %>
  <% if @facility.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@facility.errors.count, "error") %> prohibited this facility from being saved:</h4>
      <ul>
      <% @facility.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group form-inline">
    <%= f.label :name %>:
    <%= f.text_field :name, { class: "form-control", placeholder: 'Name of facility' } %>
  </div>

  <% if @facility.persisted? %>
    <div class="image">
      <% if @facility.image? %>
        <%= image_tag @facility.image.url(:default), class: 'img-thumbnail' %>
      <% else %>
        <%= image_tag "no-image.jpg", class: 'img-thumbnail' %>
      <% end %>
      <a data-toggle="modal" data-target="#myModal" href="#" class="edit"><span class = "glyphicon glyphicon-pencil"></span></a>
    </div>

    <div class="form-group form-inline">
      <%= f.label :facility_category_id, "Categories:" %>
      <%= f.collection_select :facility_category_id, @cat, :id, :name, {}, { class: 'form-control' } %>
    </div>
  <% else %>
    <div class="form-group form-inline">
      <%= f.label :facility_category_id, "Categories:" %>
      <%= f.collection_select :facility_category_id, @cat, :id, :name, {}, { class: 'form-control' } %>
    </div>
    <%= f.file_field :image %>
  <% end %>

  <div class="form-group form-inline">
    <%= f.label :booking_price %>:
    <%= f.text_field :booking_price, { class: "form-control", placeholder: 'Booking price' } %>
  </div>

  <div class="form-group form-inline">
    <%= f.label :deposit_price %>:
    <%= f.text_field :deposit_price, { class: "form-control", placeholder: 'Deposit price' } %>
  </div>

  <div class="form-group">
    <%= f.label :note %>:
    <%= f.text_area :note, class: "form-control", rows: 5  %>
  </div>

  <div class="show-button">
    <%= link_to 'Cancel', facilities_path, class: 'btn btn-danger' %>
    <%= f.submit class: "btn btn-success", value: @facility.persisted? ? 'Save' : 'Add' %>
  </div>
<% end %>

<% if @facility.persisted? %>
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
    <%= form_for @facility ,:remote => true do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Upload a New Photo</h4>
        </div>
        <div class="modal-body">
          <%= f.file_field :image %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <%= f.submit "Submit", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
<% end %>

