<%= form_for @facility, remote: true do |f| %>
    <ul class="errors"></ul>
    <div class="row">

      <div class="col-xs-2">
        <div class="img-preview">
          <%= image_tag @facility.image_path.url(:default), { id: 'img-thumbnail', class: 'img-thumbnail', size: '150x150' } %>
        </div>
      </div>

      <div class="col-xs-10">
        <div class="form-group form-inline">
          <%= f.label :name %>:
          <%= f.text_field :name, {class: "form-control", placeholder: 'Name of facility'} %>
        </div>

        <div class="form-group form-inline">
          <%= f.label :facility_category_id, "Categories:" %>
          <%= f.collection_select :facility_category_id, @facility_categories, :id, :name, {}, {class: 'form-control'} %>
        </div>

        <div class="form-group form-inline">
          <%= f.label :booking_price %>:
          <%= f.text_field :booking_price, {class: "form-control", placeholder: 'Booking price'} %>
        </div>

        <div class="form-group form-inline">
          <%= f.label :deposit_price %>:
          <%= f.text_field :deposit_price, {class: "form-control", placeholder: 'Deposit price'} %>
        </div>

        <%= f.file_field :image_path, {id: 'file-box', style: 'display:none'} %>

        <div class="form-group">
          <%= f.label :note %>:
          <%= f.text_area :note, class: "form-control", rows: 2 %>
        </div>

        <div class="text-right">
          <%= link_to 'Cancel', facilities_path, class: 'btn btn-danger' %>
          <%= f.submit class: "btn btn-success", value: @facility.persisted? ? 'Save' : 'Add' %>
        </div>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    $(document).on('click', '#img-thumbnail', function () {
        $('input[id=file-box]').click();
    })

    function handleFileSelect(evt) {
      var files = evt.target.files; // FileList object
      f = files[0]
      // Only process image files.
      if (f.type.match('image.*')) {
        var reader = new FileReader();
        reader.onload = (function (theFile) {
          return function (e) {
            // alert(e.target.result);
            document.getElementById("img-thumbnail").src = e.target.result;
          };
        })(f);

        // Read in the image file as a data URL.
        reader.readAsDataURL(f);
      }
    }
    document.getElementById('file-box').addEventListener('change', handleFileSelect, false);
</script>

