<% @facilities.each do |facility| %>
  <div class="row facility-<%= facility.id %>">
    <div class="col-xs-2">
      <% if facility.image? %>
        <%= image_tag  facility.image.url(:default) ,:class => 'img-thumbnail'%>
      <%else %>
        <%= image_tag  "no-image.jpg" ,:class => 'img-thumbnail' %>
      <%end %>
    </div>

    <div class="col-xs-8">
      <h4><b><%= facility.name %></b></h4>
      <p>Catetory: <%= facility.facility_category.name %></p>
      <p>Facility Code: <%= facility.id %></p>
      <p>Booking Price: <%= facility.booking_price %></p>
      <p>Deposit Price: <%= facility.deposit_price %></p>
      <p>Note: <%= facility.note %></p>
    </div>

    <div class="col-xs-2 facility-center">
      <div class="facility-vcenter">
        <select class="form-control change-active" data-facility-id="<%= facility.id %>" >
          <option value="active" <%= facility.active ? 'selected' : '' %>>Active</option>
          <option value="inactive" <%= !facility.active ? 'selected' : '' %>>Inactive</option>
        </select>

        <%= link_to confirm_facility_path(facility), { class: 'btn btn-link', remote: true } do %>
          <span class="glyphicon glyphicon-trash"></span> Delete Facility
        <% end %>
        <%= link_to edit_facility_path(facility), { class: 'btn btn-link', remote: true } do %>
          <span class="glyphicon glyphicon-pencil"></span> Edit Facility
        <% end %>
        <%= link_to '#', { class: 'btn btn-link', remote: true } do %>
          <span class="glyphicon glyphicon-calendar"></span> Facility Status
        <% end %>
        <%= link_to '#', { class: 'edit-button btn btn-link', remote: true } do %>
          <span class="glyphicon glyphicon-time"></span> Facility Time Slots
        <% end %>
      </div>
    </div>

  </div>
  <hr>
<% end %>

