<div class="modal-header">
  <h4 class="modal-title">Edit TimeSlot</h4>
</div>
<%= form_for(@timeslot,url: add_timeslot_path, :remote => true ) do |f| %>
<div class="modal-body">
  <table class="content">
<%= render 'content_timeslot' %>
    </table>
  <%= f.hidden_field :facility_id, { value: @facility.id } %>    
<%= f.label :slot_start , 'Add TimeSlot'%>
   <%= f.time_select :slot_start %> To  <%= f.time_select :slot_end%>
</div>
<div class="modal-footer">
  
  <%= link_to 'Cancel', '#', { class: 'btn btn-default', data: { dismiss: 'modal'} } %>
   <%= f.submit "Save" , class: "btn btn-danger"  %>
</div>
<% end %>
