<div class="facility-header">
  <%= t('bookings.view') %>
  <select class="form-control" onchange="filterByCategory(this.value)">
    <option value="/facilities"><%= t('bookings.all') %></option>
    <% @category.each do |category| %>
        <option <%= 'selected' if @category_id.to_i == category.id %> value="/facilities?category=<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>
  <%= link_to new_facility_path, {class: 'btn btn-link', remote: true} do %>
      <span class="glyphicon glyphicon-plus"></span> 
<%= t('facility.index.add_new_facility') %>
  <% end %>
  <hr>
</div>

<div id="new-facility">
</div>

<div id="list-facility">
  <%= render 'index' %>
</div>

<div id="facility-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div id="facility-content" class="modal-content">
    </div>
  </div>
</div>

<script>
  function filterByCategory(link){
      window.location = link;
  }
</script>
