<dl class="dl-horizontal">
  <dt>Date:</dt>
  <dd><%= @event.date %></dd>

  <dt>Time:</dt>
  <dd><%= @event.event_start.strftime('%I:%M %P') %> To <%= @event.event_end.strftime('%I:%M %P') %></dd>

  <dt>Location:</dt>
  <dd><%= @event.location %></dd>

  <dt>Organiser:</dt>
  <dd><%= @event.organiser %></dd>

  <dt>Description:</dt>
  <dd><%= @event.description %></dd>
</dl>
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <% if @event_image.size >0 %>
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <% for i in 1...@event_image.size %>
                <li data-target="#carousel-example-generic" data-slide-to="<%= i %>"></li>
            <% end %>
        <% else %>
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <% end %>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <% if @event_image.size >0 %>
            <div class="item active">
              <img src="<%= @event_image[0].image.url(:large) %>" alt="..." class="margin-auto">
            </div>
            <% for i in 1...@event_image.size %>
                <div class="item">
                  <img src="<%= @event_image[i].image.url(:large) %>" alt="..." class="margin-auto">
                </div>
            <% end %>
        <% else %>
            <div class="item active">
              <%= image_tag 'no-image.jpg', :class => 'img-thumbnail', class: "margin-auto" %>
            </div>
        <% end %>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>