<div  id="loadbody">
  <ul class="nav nav-tabs" role="tablist">
    <li><a href="/events"><%= t('events.event_list') %></a></li>
    <li class="active"><a href="/events/archives"><%= t('events.archived_list') %></a></li>
    <div class="text-right">
      <%= link_to new_event_path, { id: 'addNewEvent', class: 'btn btn-link', remote: true } do %>
          <span class="glyphicon glyphicon-plus"></span><%= t('events.add_new_event') %>
      <% end %>
    </div>
  </ul>

  <% @events.each do |event| %>
      <div class="row margin-top-20 element<%= event.id%>">
        <div class="col-sm-2 align-center">
          <% if event.event_images.size > 0 %>
              <%= image_tag event.event_images[0].image.url(:thumb), :class => 'img-thumbnail' %>
          <% else %>
              <%= image_tag 'no-image.jpg', :class => 'img-thumbnail' %>
          <% end %>
        </div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-12">
              <h3><%= event.name %></h3>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <%=t('events.date')%>
            </div>
            <div class="col-sm-10">
              <%= event.date.strftime '%d/%m/%Y' %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <%=t('events.time')%>
            </div>
            <div class="col-sm-10">
              <%= event.event_start.strftime('%I:%M %P') if !event.event_start.nil? %>
              To <%= event.event_end.strftime('%I:%M %P') if !event.event_end.nil? %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <%=t('events.location')%>
            </div>
            <div class="col-sm-10">
              <%= event.location %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <%=t('events.organiser')%>
            </div>
            <div class="col-sm-10">
              <%= event.organiser %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              <%=t('events.description')%>
            </div>
            <div class="col-sm-10">
              <%= event.description.truncate(150, separator: ' ', omission: '... (click "View more" to see detail)') %>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <a class="glyphicon glyphicon-trash"><%= link_to t('events.delete_event'), event, method: :delete, data: {confirm: t('events.confirm_delete_event')} %></a>
          <br>
          <a class="glyphicon glyphicon-pencil"><%= link_to t('events.edit_event'), edit_event_path(event), :remote => true %></a>
          <br>
          <div class="archive<%= event.id%>">
            <% if event.archived == false %>
                <a class="glyphicon glyphicon-arrow-right"><%= link_to t('events.archive'), archive_event_path(event), :remote => true, :onClick => 'hide_event('+event.id.to_s+')' %></a>
            <% else %>
                <a class="glyphicon glyphicon-arrow-left"><%= link_to t('events.unarchive'), unarchive_event_path(event), :remote => true, :onClick => 'hide_event('+event.id.to_s+')' %></a>
            <% end %>
          </div>
          <br><br>
          <%= link_to t('events.show_more'), event, :class => 'btn btn-info', :remote => true %>
        </div>
        <div class="col-md-12"><hr></div>
      </div>
  <% end %>
</div>
<!-- Modal -->
<div class="modal fade  bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t('events.add_new_event') %></h4>
      </div>
      <div class="modal-body" id="loadNew">
        ...
      </div>
      <!--<div class="modal-footer">-->
      <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      <!--</div>-->
    </div>
  </div>
</div>

<script type="text/javascript">
  function hide_event(val){
      $('.element'+val).find('hr').hide()
      $('.element'+val).fadeOut(500);
  }
</script>

