<%= render 'form' %>
<div class="row margin-top-20">
  <% if @tech_supports.size>0 %>

      <% i=0; @tech_supports.each do |tech_support|; i+=1 %>
          <div class="col-md-12">
            <hr>
            <h4 class="col-md-12"><%= "Tech support #{i}" %> <%= link_to '', tech_support, method: :delete, class: 'glyphicon glyphicon-trash fontSize20', data: {confirm: 'Are you sure?'}, remote:true %></h4>
          </div>
          <div class="form-group form-inline col-md-12 in_place_class">
            <div class="col-md-4">
              <span class="pull-left"><%= t('privileges.name') %> &nbsp;</span>
              <%= best_in_place tech_support, :name, :nil => "Click to edit!" %>
            </div>
            <div class="col-md-4">
              <span class="pull-left"><%= t('privileges.phone') %> &nbsp;</span>
              <%= best_in_place tech_support, :phone, :nil => "Click to edit!" %>
            </div>
            <div class="col-md-4">
              <span class="pull-left"><%= t('user.profile.email') %> &nbsp;</span>
              <%= best_in_place tech_support, :email, :nil => "Click to edit!" %>
            </div>
          </div>
          <div class="col-md-12 in_place_class">
            <div class="col-md-12">
              <span class="pull-left"><%= t('tech_supports.address') %></span>
              <span class="col-md-11 in_place_class">
                <%= best_in_place tech_support, :address, type: :textarea, nil: 'Click to edit!' %>
              </span>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
