<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tech_support.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @tech_support.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @tech_support.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tech_support.email %>
</p>

<%= link_to 'Edit', edit_tech_support_path(@tech_support) %> |
<%= link_to 'Back', tech_supports_path %>
