<div class="page-header">
  <%= link_to new_event_image_path, :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Event image
  <% end %>
  <h1>Listing event_images</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <%= content_tag_for(:tr, @event_images) do |event_image| %>
        <td><%= event_image.description %></td>
        <td><%= image_tag event_image.image.url %>
        </td>
        <td><%= link_to 'Show', event_image %></td>
        <td><%= link_to 'Edit', edit_event_image_path(event_image) %></td>
        <td><%= link_to 'Destroy', event_image, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    <% end %>
    </tbody>
  </table>
</div>
