
<%= form_for(resource, as: resource_name, url: session_path(resource_name),
  :html => {:id => "sign_up" , 
                                 :class => "form-horizontal",
                                 :role =>"form"},
           
) do |f| %>
<div class="form-group">
<h2 class= "col-sm-4 col-sm-offset-5">Sign In</h2>
</div>
<div class="form-group">
  <%= f.label "Email" , :class => ' col-sm-offset-3 col-sm-2 control-label' %>
<div class="col-sm-4"><%= f.text_field :login, :autofocus => true ,:class => "form-control" %></div>
</div>
<div class="form-group">
  <%= f.label :password ,:class => 'col-sm-offset-3 col-sm-2 control-label' %>

   <div class="col-sm-4"> <%= f.password_field :password, autocomplete: "off",:class => "form-control"%></div>
</div>
<div class="form-group">
  <% if devise_mapping.rememberable? -%>
    <div class="col-sm-offset-5 col-sm-4"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end %>
</div>

  <div class="col-sm-offset-5 col-sm-4"><%= f.submit "Sign in" , :class => "btn btn-success" %>
  <!-- Button trigger modal -->
<a class="btn btn-primary " href="#" data-toggle="modal" data-target="#myModal">
Join Us</a>

  </div>
<% end %>








<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
   <%= render "devise/shared/signup" %>
  </div>
</div>