<div class="condoinfo-header">
  <h4><%= t('condo.button.edit') %></h4>
  <hr>
</div>
<div class="condoinfo-content">
  <div class="condo-image">
    <% if @condo.condo_images.size > 0 %>
        <%= image_tag @condo.condo_images.first.image.url(:big), :class => "img-thumbnail" %>
    <% else %>
        <%= image_tag "image_null.jpg", :class => "img-thumbnail" %>
    <% end %>
    <div>
      <%= form_for @condo, :html => {:role => "form"} do |f| %>
          <table class="condo">
            <tr>
              <th><%= t('condo.table.project') %></th>
              <th><%= f.text_field :name, class: "form-control" %></th>
            </tr>
            <tr>
              <td><%= t('condo.table.project_type') %></td>
              <td><%= f.text_field :property_type, class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= t('condo.table.developer') %></td>
              <td><%= f.text_field :developer, class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= t('condo.table.tenure') %></td>
              <td><%= f.text_field :tenure, class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= t('condo.table.topyear') %></td>
              <td><%= f.text_field :top_year, class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= t('condo.table.unit') %></td>
              <td> <%= f.text_field :num_of_units, class: "form-control" %></td>
            </tr>
          </table>
          <p><b><%= t('condo.table.description') %></b></br>
            <%= f.text_area :description, {class: "form-control", :rows => "3"} %>
          </p>

          <div class="image-container">
            <b><%= t('condo.table.photo_gallery') %></b></br>
            <a data-toggle="modal" data-target="#myModal" href="#" class="btn btn-default"><%= t('condo.button.add_photo') %></a>

            <div class="image-content">
              <%= render "image_content" %>
            </div>
          </div>
          <div class="end-float"></div>
          <%= link_to t('condo.button.cancel'), condos_path, class: "btn btn-default" %>
          <%= f.submit t('condo.button.save'), class: "btn btn-success" %>
      <% end %>
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">

        <%= form_for(@condo_image, url: create_image_path, :html => {:id => "upload_image",
                                                                     :class => "form-horizontal",
                                                                     :role => "form"}, :remote => true) do |f| %>
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                <h4 class="modal-title" id="myModalLabel"><%= t('condo.table.header') %></h4>
              </div>
              <div class="modal-body">
                 <div class='up_pic'><%= f.file_field :image, :multiple => true %></div>
                 <a class="add_more btn btn-default"><%= t('condo.table.button_add') %></a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t('condo.button.cancel') %></button>
                <%= f.submit t('condo.button.submit'), :class => "btn btn-success" %>
              </div>
            </div>
        <% end %>
        </div>
      </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("a.add_more").click(function () {
            $('div.up_pic').append('<input accept="image/png,image/gif,image/jpeg" id="images_" name="condo_image[image][]" multiple="multiple" type="file" />')
        });
    });
</script>

