<div class="condoinfo-header">

  <%= link_to edit_condo_path(@condo), {class: 'btn btn-link'} do %>
      <span class="glyphicon glyphicon-pencil"></span> <%= t('condo.button.edit') %>
  <% end %>
  <div></div>
  <hr>
</div>

<div class="condoinfo-content">

  <div class="condo-image">
    <% if @condo.condo_images.size > 0 %>
        <%= image_tag @condo.condo_images.first.image.url(:big), :class => "img-thumbnail" %>
    <% else %>
        <%= image_tag "image_null.jpg", :class => "img-thumbnail" %>
    <% end %>
  </div>
  <table class="condo">
    <tr>
      <th><%= t('condo.table.project') %></th>
      <th><%= @condo.name %></th>
    </tr>
    <tr>
      <td><%= t('condo.table.project_type') %></td>
      <td><%= @condo.property_type %></td>
    </tr>
    <tr>
      <td><%= t('condo.table.developer') %></td>
      <td><%= @condo.developer %></td>
    </tr>
    <tr>
      <td><%= t('condo.table.tenure') %></td>
      <td><%= @condo.tenure %></td>
    </tr>
    <tr>
      <td><%= t('condo.table.topyear') %></td>
      <td><%= @condo.top_year %></td>
    </tr>
    <tr>
      <td><%= t('condo.table.unit') %></td>
      <td> <%= @condo.num_of_units %></td>
    </tr>
  </table>
  <b><%= t('condo.table.description') %></b> </br>

  <blockquote>
    <%= @condo.description %>
  </blockquote>
  <b><%= t('condo.table.photo_gallery') %></b> </br>
  <div class="image-content">
    <% @condo.condo_images.each do |i| %>
        <%= image_tag i.image.url(:small), :class => "img-thumbnail" %>
    <% end %>
  </div>
</div>


