<div class="feedback-header">
  
  <a   data-toggle="modal" data-target="#myModal" href="#" class="btn btn-link delete-confirm">
<span class = "glyphicon glyphicon-trash"></span><%= t('feedback.index.delete_feedback') %></a>
<a   data-toggle="modal" data-target="#myModal" href="#" class="btn btn-link move-confirm">
<span class = "glyphicon glyphicon-arrow-left"></span><%= t('feedback.index.restore_feedback') %></a>
 
   
  
  <ul class="nav nav-tabs" role="tablist">
  <li ><%= link_to t('feedback.index.current') , feedbacks_path %></li>
  <li class="active"><a href="#" ><%= t('feedback.index.archive') %></a></li>
<div></div>
</ul>

</div>

<div class= "feedback-content">
 <%= render "index_content" %>
<%=will_paginate @feedbacks %>
</div>
<div id="feedback-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="feedback-content" class="modal-content">
    </div>
  </div>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">

   <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t('feedback.index.confirm') %></h4>
      </div>
      <div class="modal-body">
     <p></p>
    
      </div>
      
      <div class="modal-footer">
       <div>
            <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('feedback.index.btn_cancel') %></button>
      <a class = "btn btn-danger delete" href="#"><%= t('feedback.index.btn_delete') %></a>
       <a class = "btn btn-primary move" href="#"><%= t('feedback.index.btn_restore') %></a>
      </div>
    </div>


</div>
</div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
       $('a.delete-confirm').click(function(){
var feedid = [];
        $( "input:checked" ).each(function(){
        feedid.push($(this).val());
    });
        if($.isEmptyObject(feedid)){
     $('#myModal').find('p').text("<%= t('feedback.index.please_choose_delete_feedback') %>");
    $('#myModal').find('a.delete').hide();
      $('#myModal').find('a.move').hide();
        } else {
   $('#myModal').find('p').text("<%= t('feedback.index.sure_delete_feedback') %>");
    $('#myModal').find('a.delete').show();
    $('#myModal').find('a.move').hide();
        }
    });
      $('a.move-confirm').click(function(){
    var feedid = [];
        $( "input:checked" ).each(function(){
        feedid.push($(this).val());
    });
        if($.isEmptyObject(feedid)){
     $('#myModal').find('p').text("<%= t('feedback.index.please_choose_restore_feedback') %>");
    $('#myModal').find('a.delete').hide();
      $('#myModal').find('a.move').hide();
        } else {
   $('#myModal').find('p').text("<%= t('feedback.index.sure_restore_feedback') %>");
    $('#myModal').find('a.delete').hide();
    $('#myModal').find('a.move').show();
        }
   
          
    });
    $('a.delete').click(function(e){
    	var feedid = [];
      e.preventDefault();
    $( "input:checked" ).each(function(){
        feedid.push($(this).val());

    });
    param = {
	"ids" : feedid 	
	 
		};

    $.ajax({
 	url : "feedbacks/destroy_multiple" ,
 	type : "post" ,
 	data: param ,
 	dataType: "json",
 	success: function(data){ 
      if(data.status){
      location.reload(); 	
      }else{
      	$('#myModal').modal('hide');
      }
 	} ,
 	error: function(){ }
 		});
  

      });
     $('a.move').click(function(e){
        var feedid = [];
      e.preventDefault();
    $( "input:checked" ).each(function(){
        feedid.push($(this).val());

    });
    param = {
  "ids" : feedid  
   
    };

    $.ajax({
  url : "move_multiple" ,
  type : "post" ,
  data: param ,
  dataType: "json",
  success: function(data){ 
      if(data.status){
      location.reload();  
      }else{
        $('#myModal').modal('hide');
      }
  } ,
  error: function(){ }
    });
  


     });



});
</script>
