<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <% if @form.persisted? %>
      <span><%= t('forms.index.edit') %></span>
  <% else %>
      <span><%= t('forms.index.add') %></span>
  <% end %>
</div>

<div class="modal-body">
  <%= form_for @form, remote: true do |f| %>
      <ul class="errors"></ul>

      <div class="form-group form-inline">
        <label><%= t('.categories') %></label>
        <%= f.collection_select :form_category_id, @form_categories, :id, :name, {}, {class: 'form-control'} %>
      </div>

      <div class="form-group form-inline">
        <%= f.label :title %>
        <%= f.text_field :title, {class: 'form-control'} %>
      </div>

      <%= f.file_field :form_path, {id: 'file-box', class: 'hidden'} %>
      <div class="form-group">
        <%= f.label :form_path_file_name %>

        <div class="input-group">
          <%= f.text_field :form_path_file_name, {id: 'input-file', class: 'form-control', readonly: true} %>
          <span class="btn btn-default input-group-addon btn-browse"><%= t('.browse') %></span>
        </div>
      </div>

      <div class="form-button">
        <%= f.submit class: 'btn btn-success', value: @form.persisted? ? t('.update') : t('.create') %>
      </div>
  <% end %>
</div>

<script type="text/javascript">
    $(document).on('click', '.btn-browse', function () {
        $('input[id=file-box]').click();
    })
    $('input[id=file-box]').change(function () {
        $('#input-file').val($(this).val());
    });
</script>

