<% @form_categories.each do |form_category| %>
    <p class="alert alert-info"><%= form_category.name %></p>
    <% form_category.forms.each do |form| %>
        <div class="row">
          <div class="col-lg-10 col-md-10 col-sm-9 col-xs-8">
            <p><b><%= form.title %></b></p>
            <%= link_to 'View Form', form_path(form), {class: 'btn btn-default', remote: true} %>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
            <%= link_to confirm_form_path(form), {class: 'btn btn-link', remote: true} do %>
                <span class="glyphicon glyphicon-trash"></span> Delete Form
            <% end %>
            <%= link_to edit_form_path(form), {class: 'btn btn-link', remote: true} do %>
                <span class="glyphicon glyphicon-trash"></span> Edit Form
            <% end %>
          </div>
        </div>
        <hr>
    <% end %>
<% end %>

