<div class="form-header">
  <%= t('.view') %>
  <%= collection_select :form_category, :id, @form_categories, :id, :name, {prompt: t('.all')}, {class: 'form-control'} %>
  <%= link_to new_form_path, {class: 'btn btn-link', remote: true} do %>
      <span class="glyphicon glyphicon-plus"></span> <%= t('.add') %>
  <% end %>
  <hr>
</div>

<div id="list-form">
  <%= render 'index' %>
</div>

<div id="form-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div id="form-content" class="modal-content">
    </div>
  </div>
</div>

