<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Resident Management System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= favicon_link_tag 'fav.png' %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js", "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <% session[:language] == 'vi' ? img_logo = 'rms-logo-vi.png' : img_logo =  'rms-logo-en.png'%>
      <%= image_tag img_logo %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div class="text-right">
        <% if user_signed_in? %>
            <% if can? :index, User %>
                <%= t('home.header.hi')%><%= current_user.username %>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <%= t('home.header.action')%> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li>  <%= link_to t('home.header.sign_out'), destroy_user_session_path, method: :delete %>
                    </li>
                    <li>
                      <%= link_to t('home.header.admin_page'), admins_path %>
                    </li>
                    <li>
                      <%= link_to t('home.header.setting'), profile_path(current_user) %>
                    </li>
                  </ul>
                </div>
            <% else %>
                <span>
             Hi, <%= current_user.username %>
                  <%= link_to profile_path(current_user), class: "glyphicon glyphicon-cog" do
                  end %>
                  <%= link_to t('home.header.sign_out'), destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
           </span>
            <% end %>
        <% end %>
        <div>
          <a onclick="setLanguage('vi');"><%= image_tag 'vi.png' %></a>
          <a onclick="setLanguage('en')"><%= image_tag 'en.png' %></a>
        </div>
      </div>
    </div>
  </div>

  <div id="notifications"></div>

  <div class="row padding-20-px">
    <div class="col-lg-12">
      <%= link_to t('home.nav.home'), homes_path, {class: "btn btn-primary menu #{session[:menustatus] == 'home' ? 'active' : ''}"} %>
      <div class="btn-group pull-left menu">
        <!--<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="width: 100%">-->
          <%#= t('home.nav.service_drop')%> <!--<span class="caret"></span> -->
        <!--</button>-->
        <%= button_tag t('home.nav.service_drop'), {'data-toggle' => "dropdown", 'style' => "width: 100%", class: "btn btn-primary dropdown-toggle #{session[:menustatus] == 'bookings' || session[:menustatus] == 'facilities' ? 'active' : ''}"} %>
        <ul class="dropdown-menu" role="menu">
          <li>  <%= link_to t('home.nav.introduce_drop'), facilities_path, {class: "btn btn-default #{session[:menustatus] == 'facilities' ? 'active' : ''}"} %>
          </li>
          <li>
            <%= link_to t('home.nav.management_drop'), bookings_path, {'data-no-turbolink' => true, class: "btn btn-default #{session[:menustatus] == 'bookings' ? 'active' : ''}"} %>
          </li>
        </ul>
      </div>
      <%#= link_to t('home.nav.bookings'), bookings_path, {'data-no-turbolink' => true, class: "btn btn-primary menu #{session[:menustatus] == 'bookings' ? 'active' : ''}"} %>
      <%= link_to t('home.nav.bulletins'), bulletins_path, {class: "btn btn-primary menu #{session[:menustatus] == 'bulletins' ? 'active' : ''}"} %>
      <%= link_to t('home.nav.condo_info'), condos_path, {class: "btn btn-primary menu #{session[:menustatus] == 'condoInfos' ? 'active' : ''}"} %>
      <%= link_to t('home.nav.events'), events_path, {class: "btn btn-primary menu #{session[:menustatus] == 'events' ? 'active' : ''}"} %>
      <%= link_to t('home.nav.privileges'), privileges_path, {class: "btn btn-primary menu #{session[:menustatus] == 'privileges' ? 'active' : ''}"} %>
      <%= link_to t('home.nav.feedback'), feedbacks_path, {class: "btn btn-primary menu #{session[:menustatus] == 'feedbacks' ? 'active' : ''}"} %>
      <%= link_to t('home.nav.forms'), forms_path, {class: "btn btn-primary menu #{session[:menustatus] == 'forms' ? 'active' : ''}"} %>
      <%= link_to t('home.nav.guard_house'), guard_houses_path, {class: "btn btn-primary menu #{session[:menustatus] == 'guard_houses' ? 'active' : ''}"} %>
      <%= link_to t('home.nav.house_rules'), house_rules_path, {class: "btn btn-primary menu #{session[:menustatus] == 'house_rules' ? 'active' : ''}"} %>
    </div>
  </div>

  <% flash.each do |name, msg| %>
      <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable" do %>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= msg %>
      <% end %>
  <% end %>

  <div id="content-body">
    <%= yield %>
  </div>

  <div class="row">
    <div class="footer">
      <p>© Project RMS v07042015</p>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade  bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width: 980">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body privilege-modal-content">

      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="app-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Error</h4>
      </div>
      <div class="modal-body">
        <div>
          <h3>The change you wanted was rejected.</h3>

          <p>Maybe you tried to change something you didn't have access to.</p>
        </div>
        <p>If you are the application owner check the logs for more information.</p>


      </div>

      <div class="modal-footer">
        <div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>


        </div>
      </div>


    </div>
  </div>
</div>
</body>
</html>

<script>

      function setLanguage(val){
          $.post('/homes/setLanguage', {val:val},function(){
              localStorage.setItem('i18n', val);
              location.reload(true);
          });
          if(val == 'vi'){
              language = 'dataTables.vietnamese.lang';
          }else{
              language = 'dataTables.english.lang';
          }
          localStorage.setItem('language', language);
      }
</script>

